body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    color: #333;
}

.box {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
}

input {
    width: 90%;
    padding: 6px;
}

button {
    padding: 8px 15px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}
